// Colors / Кольори
$color-green-dark: #425844
$color-green-light: #61A568

$color-blue-dark: #101D2C

$color-gray-dark: #AAAAAA
$color-gray-light: #F5F5F5

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    background: $color-gray-light
    font: 1.6rem 'Montserrat-Regular', sans-serif
    color: $color-gray-light

// GRID layout for whole site
.container
    display: grid
    grid-template-rows: 100vh repeat(5, min-content)
    grid-template-columns: min-content 1fr repeat(8, minmax(min-content, 16rem)) 1fr

.main
    display: grid
    grid-template-rows: repeat(4, min-content)
    grid-template-columns: 1fr repeat(8, minmax(min-content, 16rem)) 1fr
    grid-row: 2 / 6
    grid-column: 2 / -1
