// Colors / Кольори
$color-green-dark: #425844
$color-green-light: #61A568

$color-blue-dark: #101D2C

$color-gray-dark: #AAAAAA
$color-gray-light: #F5F5F5

// Media queries / Медіа запроси
@mixin respond($breakpoint)
    @if $breakpoint == phone
        @media (max-width: 375px) // 375px -- 320px
            @content
    @if $breakpoint == big-phone
        @media (max-width: 450px) // 450px -- 376px
            @content
    @if $breakpoint == small-tablet
        @media (max-width: 650px) // 650px -- 451px
            @content
    @if $breakpoint == tablet
        @media (max-width: 940px) // 940px -- 651px
            @content
    @if $breakpoint == big-tablet
        @media (max-width: 1050px) // 1050px -- 941px
            @content
    @if $breakpoint == small-desktop
        @media (max-width: 1150px) // 1150px -- 1051px
            @content
    @if $breakpoint == desktop
        @media (max-width: 1220px) // 1220px -- 1151px
            @content
    @if $breakpoint == big-desktop
        @media (max-width: 1325px) // 1325px -- 1221px
            @content
    @if $breakpoint == huge-desktop
        @media (max-width: 3000px) // 3000px -- 1326px
            @content

// Reset and normalize indents / Скидання та нормалізація відступів
*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

// 62.5% = 10px font size / 62.5% = розміру шрифту в 10px
html
    font-size: 62.5%
    scroll-behavior: smooth
    @include respond(big-desktop)
        font-size: 57%
    @include respond(desktop)
        font-size: 54%
    @include respond(small-desktop)
        font-size: 48%
    @include respond(big-tablet)
        font-size: 52%
    @include respond(tablet)
        font-size: 48%
    @include respond(small-tablet)
        font-size: 45%
    @include respond(big-phone)
        font-size: 43%

body
    background: $color-gray-light
    font: 1.6rem 'Montserrat-Regular', sans-serif
    color: $color-gray-light

// GRID layout for whole site
.main
    position: relative
    display: grid
    grid-template-rows: repeat(4, min-content)
    grid-template-columns: 1fr repeat(8, minmax(min-content, 15rem)) 1fr
    grid-row: 2 / 6
    grid-column: 2 / -1
    padding-left: 7rem
    @include respond(big-tablet)
        padding-left: 0
