.main-button
    @include desktop-button-font
    width: 27rem
    height: 5rem
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 2rem 3.5rem 1.7rem
    background: $color-green-light
    color: $color-gray-light
    border: none
    border-radius: .2rem
    cursor: pointer
    overflow: hidden
    @include respond(small-desktop) // 1150px -- 1051px
        padding: 2rem 1.5rem 1.7rem
    @include respond(tablet) // 940px -- 651px
        padding: 2rem 2rem 1.7rem
    @include respond(big-phone) // 450px -- 376px
        width: 24rem
        height: 4.2rem
    @include respond(phone) // 375px -- 320px
        width: 22rem
        height: 4rem

    &__text
        transition: .3s ease-out
        z-index: 1
        @include respond(tablet) // 1050px -- 941px
            @include mobile-button-font
        @include respond(phone) // 375px -- 320px
            font-size: 1.8rem
    &:hover &__text
        transform: translateX(-2rem)

    &__icon
        position: absolute
        transform: translateX(20rem)
        transition: .3s ease-in
        z-index: 1
        &_joystick // Joystick icon  / Іконка джойстика
            width: 12%
            height: 80%
        &_command // Command icon / Іконка команди
            width: 10%
            height: 80%
    &:hover &__icon
        transform: translateX(10rem)
        transition: .3s ease-out
        @include respond(huge-desktop) // 3000px -- 1326px
            transform: translateX(10.3rem)
        @include respond(small-desktop) // 1150px -- 1051px
            transform: translateX(10.85rem)
        @include respond(big-tablet) // 1050px -- 941px
            transform: translateX(10.3rem)
        @include respond(big-phone) // 450px -- 376px
            transform: translateX(8.7rem)

    &::before // Line over the button / Смужка над кнопкою
        position: absolute
        content: ""
        height: 5%
        width: 0
        top: 0
        right: 0
        background: $color-gray-light
        transition: .3s ease-out
    &:hover::before
        width: 100%
        height: 5%
        background: $color-gray-light
    &:active::before
        background: $color-green-light
        transition: none

    &:after // Transition to darker color / Затемнення кольору
        position: absolute
        content: ""
        width: 0%
        height: 100%
        right: 0
        background: $color-green-dark
        transition: .3s ease-out
    &:hover::after
        width: 100%

    &__cards // Section-cards button / Кнопка з секціі з карточками
        width: 100%
        border-radius: 0
        @include respond(big-phone) // 450px -- 376px
            height: 5.5rem
        @include respond(phone) // 375px -- 320px
            height: 4.5rem
        &:hover &_text
            transform: translateX(0rem)

        &::before // Line over the button / Смужка над кнопкою
            width: 100%
            top: 100%
            z-index: 1
            transition: .2s ease-out
        &:hover::before
            top: 0
            background: $color-gray-light
            z-index: 1
        &:active::before
            background: $color-green-light
            transition: none

        &:after // Transition to darker color / Затемнення кольору
            width: 100%
            height: 0
            bottom: 0
            transition: .2s ease-out
        &:hover::after
            width: 100%
            height: 100%
