.footer
    display: grid
    background: $color-blue-dark
    padding: 5rem 7rem 3rem 7rem
    row-gap: 5rem
    @include respond(small-tablet)
        padding: 2rem 2rem 3rem 2rem
        row-gap: 3rem
    &__logo
        justify-self: center
        align-self: center
        @include respond(tablet)
            padding: 0

    &__svg
        width: 12rem
        height: 4rem
    &__nav-menu
        justify-self: center
        align-self: center
    &__item-wrap
        display: flex
        column-gap: 3.5rem
        @include respond(big-tablet)
            text-align: center
            align-items: center
        @include respond(tablet)
            text-align: center
            align-items: center
        @include respond(small-tablet)
            flex-direction: column
            row-gap: 1rem

    &__link
        color: $color-gray-light
        text-decoration: none
        &:hover
            color: $color-green-light
            transition: color .3s
    &__item
        list-style-type: none
        font-family: 'Montserrat-Light'
        font-size: 2rem
