.footer
    display: grid
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: 1fr
    grid-row: 6 / 7
    grid-column: 2 / -1
    background: $color-blue-dark
    padding: 0 5rem
    &__logo
        padding: 5rem 0 2rem 0
        justify-self: center
        align-self: center
    svg
        width: 12rem
        height: 4rem
    &__nav-menu
        justify-self: center
        align-self: center
    &__item-wrap
        display: flex
        column-gap: 3.5rem
    &__link
        color: $color-gray-light
        text-decoration: none
    &__item
        list-style-type: none
        font-family: 'Montserrat-Light'
        &:hover
            color: $color-green-light
            transition: color .3s
