.header
    display: grid
    grid-template-rows: 100vh
    grid-template-columns: 70% 1fr
    padding-left: 7rem
    @include respond(big-tablet)
        padding-left: 0
        padding-top: 7rem
        grid-template-rows: 70vh
        grid-template-columns: 100%
        @include respond(tablet)
            grid-template-rows: 60vh
        @include respond(small-tablet)
            grid-template-rows: 60vh
            padding-top: 5rem
        @include respond(big-phone)
            grid-template-rows: 82vh

// Header LEFT SIDE / ЛІВА СТОРОНА хедера
.header-main
    display: grid
    grid-template-rows: repeat(3, 1fr)
    grid-template-columns: repeat(4, 25%)
    background: url(../img/header-background.png) center / cover no-repeat
    &__logo-wrap
        grid-column: 2 / 4
        justify-self: center
        height: 0
    &__svg
        width: 12rem
        height: 4rem
        margin: 2rem auto 0 auto
        @include respond(small-tablet)
            width: 9rem
            margin: 1rem auto 0 auto

    &__content-wrap
        grid-column: 1 / -1
        grid-row: 2 / 3
        padding: 0 3rem 0 4rem
        @include respond(small-tablet)
            padding: 0 3rem 0 2rem
        @include respond(tablet)
            padding: 0 3rem 0 2rem
        @include respond(big-phone)
            margin-bottom: 3rem
            padding: 0 3rem 0 1.5rem

    &__subtitle
        font-family: 'Montserrat-Light'
        color: $color-green-light
        line-height: 2rem
        letter-spacing: .2rem
        @include respond(tablet)
            font-size: 2.5rem
        @include respond(small-tablet)
            font-size: 1.6rem
    &__title
        letter-spacing: .2rem
        margin-bottom: 5rem
        border-right: .7rem solid $color-green-light
        white-space: nowrap
        overflow: hidden
        width: 0
        opacity: 0
        -webkit-animation: typing 1.7s steps(35, end)
        animation: typing 1.7s steps(35, end)
        -webkit-animation-delay: .7s
        animation-delay: .7s
        -webkit-animation-fill-mode: forwards
        animation-fill-mode: forwards
        @include respond(huge-desktop)
            width: 77rem
        @include respond(small-tablet)
            width: 59rem
            font-size: 3.7rem
            letter-spacing: 0rem
        @include respond(big-phone)
            font-size: 3.1rem
            letter-spacing: 0rem
            width: 49rem
        @include respond(phone)
            width: 38rem

    &__lines-and-icons-wrap
        grid-column: 1 / -1
        grid-row: 3 / 4
        align-self: end
        margin-bottom: 5rem
        @include respond(small-tablet)
            margin-bottom: 2rem

    &__lines-wrap
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 2.5rem
        gap: 2rem
        @include respond(small-tablet)
            gap: 1rem
        @include respond(big-phone)
            margin-bottom: 1.5rem
    &__text
        color: $color-gray-dark
        font-weight: 600
    &__line-left, &__line-right
        border-top: 1px solid $color-gray-dark
        width: 40%
        @include respond(big-phone)
            width: 38%

    &__icons-wrap
        display: flex
        justify-content: center
        align-items: center
        padding: 0 5rem
        @include respond(tablet)
            column-gap: 3rem
        @include respond(small-tablet)
            padding: 0
        @include respond(big-phone)
            column-gap: 1
    &__icon
        height: 3rem
        @include respond(big-phone)
            width: 7rem

// Header RIGHT SIDE / ПРАВА СТОРОНА хедера
.header-leaderboard
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: $color-blue-dark
    @include respond(big-tablet)
        padding: 5rem 0
    @include respond(small-tablet)
        padding: 4rem 0
    @include respond(big-phone)
        padding: 2rem 1rem
    &__title
        text-transform: uppercase
        font-family: 'Montserrat-Bold'
        color: $color-green-light
        padding-bottom: 4rem
        @include respond(big-phone)
            padding-bottom: 2.5rem

// Wrap for all players / Обгортка для всіх гравців
.header-leaderboard-gamers-wrap
    display: flex
    flex-direction: column
    row-gap: 2rem
    @include respond(big-tablet)
        flex-direction: row
        gap: 7rem
    @include respond(tablet)
        gap: 3rem
    @include respond(small-tablet)
        gap: 3rem
    @include respond(big-phone)
        gap: 2rem
    &__member
        display: flex
        align-items: center
        z-index: 1
        gap: 4rem 2rem
        @include respond(big-tablet)
            gap: 4rem 1rem
        @include respond(small-tablet)
            flex-direction: column
            gap: 2rem 2rem

    &__shadow-box
        position: relative
        display: flex
        justify-content: center
        align-items: center
    &__shadow
        position: absolute
        width: 6.7rem
        height: 6.7rem
        box-shadow: 0px 0px 10px $color-green-dark,0px 0px 10px $color-green-light
        animation: rotate 1.5s linear infinite
        border-radius: 50%
        @include respond(small-tablet)
            width: 4.5rem
            height: 4.5rem
        @include respond(big-phone)
            width: 5rem
            height: 5rem

    &__img
        position: relative
        border-radius: 50%
        width: 7rem
        height: 7rem
        @include respond(small-tablet)
            width: 6rem
            height: 6rem

    &__text
        @include respond(small-tablet)
            text-align: center

    &__title
        font-family: 'Montserrat-Bold'
    &__text-score
        font-family: 'Montserrat-Light'
        color: $color-gray-dark

@keyframes typing
    0%
        width: 0
    50%
        opacity: 1
    99.9%
        border-right: .1rem solid $color-gray-light
    100%
        opacity: 1
        border: none

@keyframes rotate
    from
        transform: rotate(0deg)

    to
        transform: rotate(360deg)
