.header
    display: grid
    grid-template-rows: 100vh
    grid-template-columns: 70% 1fr
    padding-left: 7rem
    @include respond(big-tablet)
        padding-left: 0
        padding-top: 7rem
        grid-template-rows: 70vh
        grid-template-columns: 100%
        @include respond(tablet)
            grid-template-rows: 60vh
        @include respond(small-tablet)
            grid-template-rows: 60vh
            padding-top: 5rem
        @include respond(big-phone)
            grid-template-rows: 80vh

// Header LEFT SIDE / ЛІВА СТОРОНА хедера
.header-left-side
    display: grid
    grid-template-rows: repeat(3, 1fr)
    grid-template-columns: repeat(4, 25%)
    background: url(../img/header-background.png) center / cover no-repeat
    &__logo-wrap
        grid-column: 2 / 4
        justify-self: center
        height: 0
    &__svg
        width: 12rem
        height: 4rem
        margin: 2rem auto 0 auto
        @include respond(small-tablet)
            width: 9rem
            margin: 1rem auto 0 auto

    &__content-wrap
        grid-column: 1 / -1
        grid-row: 2 / 3
        padding: 0 3rem 0 4rem
        @include respond(small-tablet)
            padding: 0 3rem 0 2rem
        @include respond(big-phone)
            margin-bottom: 3rem
            padding: 0 3rem 0 1rem

    &__subtitle
        font-family: 'Montserrat-Light'
        color: $color-green-light
        line-height: 2rem
        letter-spacing: .2rem
        @include respond(tablet)
            font-size: 2.5rem
        @include respond(small-tablet)
            font-size: 1.6rem
    &__title
        letter-spacing: .2rem
        margin-bottom: 5rem
        @include respond(small-tablet)
            font-size: 3.7rem
            letter-spacing: 0rem
        @include respond(big-phone)
            font-size: 3.1rem
            letter-spacing: 0rem

    &__lines-and-icons-wrap
        grid-column: 1 / -1
        grid-row: 3 / 4
        align-self: end
        margin-bottom: 5rem
        @include respond(small-tablet)
            margin-bottom: 2rem

    &__lines-wrap
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 2.5rem
        gap: 2rem
        @include respond(small-tablet)
            gap: 1rem
        @include respond(big-phone)
            margin-bottom: 1.5rem
    &__text
        color: $color-gray-dark
        font-weight: 600
    &__line-left, &__line-right
        border-top: 1px solid $color-gray-dark
        width: 40%
        @include respond(big-phone)
            width: 38%

    &__icons-wrap
        display: flex
        justify-content: center
        align-items: center
        padding: 0 5rem
        @include respond(tablet)
            column-gap: 3rem
        @include respond(small-tablet)
            padding: 0
        @include respond(big-phone)
            column-gap: 1
    &__icon
        height: 3rem
        @include respond(big-phone)
            width: 7rem

// Header RIGHT SIDE / ПРАВА СТОРОНА хедера
.header-right-side
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: $color-blue-dark
    @include respond(big-tablet)
        padding: 5rem 0
    @include respond(small-tablet)
        padding: 4rem 0
    @include respond(big-phone)
        padding: 2rem 0
    &__title
        text-transform: uppercase
        font-family: 'Montserrat-Bold'
        color: $color-green-light
        padding-bottom: 4rem

// Wrap for all players / Обгортка для всіх гравців
.header-right-side-players-wrap
    display: flex
    flex-direction: column
    row-gap: 2rem
    @include respond(big-tablet)
        flex-direction: row
        gap: 7rem
    @include respond(tablet)
        gap: 3rem
    @include respond(small-tablet)
        flex-direction: column
    @include respond(big-phone)
        gap: 2rem
    &__member
        display: flex
        align-items: center
        gap: 4rem 2rem
        @include respond(big-tablet)
            gap: 4rem 1rem
    &__img
        border-radius: 50%
        width: 7rem
        height: 7rem
        z-index: 1
    &__title
        font-family: 'Montserrat-Bold'
    &__text-score
        font-family: 'Montserrat-Light'
        color: $color-gray-dark
