// Utilities for titles / Утіліти для заголовків
.title-size-h1
    font-size: 4.5rem
    font-weight: 700
.title-size-h2
    font-size: 1.9rem
    font-weight: 300
    letter-spacing: 13%
.title-size-h3
    font-size: 1.6rem
    font-weight: 300
    line-height: 113%

// Font for buttons / Шрифт для кнопок
@mixin button-font
    font: 700 1.6rem uppercase 'Montserrat', sans-serif
